# Converts the JHU Cumulative Case Count Data to Daily Case Count Data

# TO DO:

- [X] Write the code that lets you convert the US data to long

In [152]:
data_path = r'..\csse_covid_19_data\csse_covid_19_time_series'
out_data_path = r'..\Modified Data Sets'

case_pre = pd.read_csv(f'{data_path}/time_series_covid19_confirmed_global.csv')
death_pre = pd.read_csv(f'{data_path}/time_series_covid19_deaths_global.csv')

# case_pre_us = pd.read_csv(f'{data_path}/time_series_covid19_confirmed_US.csv')
# death_pre_us = pd.read_csv(f'{data_path}/time_series_covid19_deaths_US.csv')

import shutil
file_list = os.listdir(out_data_path)
for files in file_list:
    if files.find('.xlsx') >= 0:
        shutil.move(f'{out_data_path}/{files}',f'{out_data_path}/ARCHIVE/{files}')
def DF_Transform(df, outcome):
    import pandas as pd
    import os
    global data_path
    global out_data_path
    df.drop(labels={'Lat','Long'},axis=1, inplace = True)
    df = df.groupby(by='Country/Region').sum().T.apply(lambda x: x-x.shift(1),axis=0)
    df.rename(columns={'Country/Region':'Date'},inplace=True)
    df.columns = df.columns.str.replace(' ','_').str.lower()
    df = df.reset_index()
    df.rename(columns={'index':'date'},inplace= True)
    df.date = pd.to_datetime(df.date).dt.date
    filename = f'{out_data_path}/{outcome} (Through {case.date.max()}).xlsx'
    df.to_excel(filename, index=False)
    return df
case = DF_Transform(case_pre, 'Global COVID-19 Case Count')
death = DF_Transform(death_pre, 'Global COVID-19 Death Count')
# case = DF_Transform(case_pre_us, 'US COVID-19 Case Count')
# death = DF_Transform(death_pre_us, 'US COVID-19 Death Count')

In [153]:
case.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Columns: 189 entries, date to zimbabwe
dtypes: float64(188), object(1)
memory usage: 327.9+ KB

In [154]:
case.describe()

Country/Region,afghanistan,albania,algeria,andorra,angola,antigua_and_barbuda,argentina,armenia,australia,austria,...,united_kingdom,uruguay,uzbekistan,venezuela,vietnam,west_bank_and_gaza,western_sahara,yemen,zambia,zimbabwe
count,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,...,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000
mean,172.678733,42.443439,199.755656,5.085973,11.873303,0.425339,1848.081448,197.963801,116.497738,122.923077,...,1523.384615,7.171946,187.438914,207.547511,4.705882,100.470588,0.045249,8.837104,54.411765,29.013575
std,230.832389,49.160338,199.924268,10.717735,20.797121,2.766700,2665.375294,216.638951,157.544875,178.045624,...,1592.678887,8.162961,244.840936,324.142791,8.850753,152.615873,0.366479,14.607304,115.230787,60.232918
min,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,-6.000000
25%,0.000000,4.000000,11.000000,0.000000,0.000000,0.000000,11.000000,14.000000,7.000000,22.000000,...,443.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,59.000000,17.000000,129.000000,0.000000,1.000000,0.000000,263.000000,121.000000,23.000000,64.000000,...,964.000000,5.000000,64.000000,25.000000,1.000000,6.000000,0.000000,2.000000,0.000000,1.000000
75%,271.000000,74.000000,387.000000,4.000000,15.000000,0.000000,2845.000000,349.000000,195.000000,140.000000,...,2349.000000,11.000000,312.000000,287.000000,5.000000,198.000000,0.000000,13.000000,38.000000,25.000000
max,915.000000,178.000000,675.000000,79.000000,100.000000,39.000000,11717.000000,771.000000,716.000000,1321.000000,...,5505.000000,36.000000,981.000000,1281.000000,50.000000,574.000000,4.000000,116.000000,915.000000,490.000000